.item {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    border-radius: 20px;
    border: 1px solid #f3f3f3;
    background: #fff;
    margin: 0 0 20px 0;
    &__block {
        button {
            background-color: #fff;
            &:active {
                transform: scale(0.95);
            }
        }
    }
    &__img {
    }
    &__title {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__price {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}
